.spam_report { clear:both;  margin:0px auto; color:#ffffff; text-align:center; font-weight:bold;  position:fixed; padding:10px 0px; background:#990000;  opacity:0.8;  filter:alpha(opacity=60);width:100%; }


.fontred { color: #FF0000 !important; }

#errormsg {
    border-radius: 5px 5px 5px 5px;
    margin-left: 15px;
    padding: 5px;
	background: none repeat scroll 0 0 #FB8A6D !important;
    border: 2px solid #D82D02;
	color:#FFFFFF;
	}
	
#errormsg p{
    background: url("../images/error_icon.png") no-repeat scroll left top transparent;
    color: #FFFFFF !important;
    line-height: 1.6em;
    list-style-position: inside;
    padding: 2px 2px 2px 27px;
}

.error2{
color:#FF0000;
font-weight:bold;
}

.success2,.success{
color:#009900;
}

.lt{  float:left !important;}
.rt{  float:right !important;}

.pad10{  padding:5px !important;}
.pad25{  padding:25px !important;}




.center{  text-align:center !important;}

.marT10{  margin-top:10px !important;}
.marT5{ margin-top:5px !important; }
.marT45{ margin-top:45px !important; }
.marT12{ margin-top:12px !important;}


.marL100{  margin-left:100px !important; }
.marL15{  margin-left:15px !important; }


.marR100{  margin-right:100px !important; }



.marB10 {	margin-bottom:10px !important;}