ul.set_list{ margin:0px; padding:0px;}
a.btn{ cursor:pointer !important;}
.span_right{ float:right;}
.pagination{ float:right; width:30%;}
.onefv{ float:left; font-size:12px; font-weight:bold; margin-top:3px;}

.onefv a{float:left;  margin:0px 0px;  color:#7b84ce; }

.onefv a span{  margin:0px 10px; }

.onefv a:hover{ color:#333; }
.preN :hover,.nextN a:hover{ color:#000; }
a.preN,a.nextN{
 float:left;
 
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		  
		  
   color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  

 padding:3px 0px;  

 width:60px;
 font-size:12px; 
 font-weight:bold;
  margin-right: 9px;
  
  }
a.preN,a.nextN{
 float:left;
 
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		  
		  
   color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  

 padding:3px 0px;  

 width:60px;
 font-size:12px; 
 font-weight:bold;
  margin-right: 9px;
  
  }
  
  .pad6 {padding-left:6px;}

.jobs-box {
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 20px;
}
.jobs-box:last-child {
	border-bottom: none;
	margin-bottom: 0px;
}
.jobs-box h4 {
	margin-top: 0;
	padding: 0;
}
.jobsbox-rt-top {
	border-bottom: 1px dashed #e3e3e3;
	margin-bottom: 20px;
}

.pad24 {padding: 0 24px !important;}
.minheight20 {min-height:200px; max-height:200px;  }

.imgcenter{ display: block;
margin-left: auto !important;
margin-right: auto !important; }

.lineH23{
    line-height: 23px;
}


.head-social ul.social-link li.site {  display:inline-block; background:url(../images/site.png); background-position:0px -44px; background-repeat:no-repeat; width:45px; height:45px; cursor:pointer;  }
.head-social ul.social-link li.site:hover {  background-position:0px 1px; background-repeat:no-repeat;    }

.head-social ul.social-link li a {
    padding: 13px;
}

button[type="button"], button[type="submit"] , button[type="reset"], input[type="submit"], input[type="reset"],input[type="button"] {
    cursor: pointer;
}