
/* Easy Slider */
#slider{ 
margin:0px 24px;
width:620px;
}
	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:620px;
		height:160px;
		 float:left; padding:0;	
	position:relative;
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		position:absolute;
		right:0px;
		top:60px;
		z-index:1000;
		width:20px;
		height:20px;
		}	
	#nextBtn, #slider1next{ 
		left:0px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		text-indent:-10000px;
		font-size:1px;
		width:20px;
		height:20px;
		
		background:url(../images/slider_rightarrow.png) no-repeat 0 0;
		cursor:pointer;
		}	
	#nextBtn a, #slider1next a{ 
		display:block;
		text-indent:-10000px;
		font-size:1px;
		width:20px;
		height:20px;
		background:url(../images/slider_leftarrow.png) no-repeat 0 0;
		cursor:pointer; 
		}	
		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */