
@font-face {
    font-family: 'conduit_itclight';
    src: url('conduit_itc_light1-webfont.eot');
    src: url('conduit_itc_light1-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduit_itc_light1-webfont.woff') format('woff'),
         url('conduit_itc_light1-webfont.ttf') format('truetype'),
         url('conduit_itc_light1-webfont.svg#conduit_itclight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'conduit_itcmedium';
    src: url('conduit_itc_medium1-webfont.eot');
    src: url('conduit_itc_medium1-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduit_itc_medium1-webfont.woff') format('woff'),
         url('conduit_itc_medium1-webfont.ttf') format('truetype'),
         url('conduit_itc_medium1-webfont.svg#conduit_itcmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'conduit_itcbold';
    src: url('conduit_itc_bold1-webfont.eot');
    src: url('conduit_itc_bold1-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduit_itc_bold1-webfont.woff') format('woff'),
         url('conduit_itc_bold1-webfont.ttf') format('truetype'),
         url('conduit_itc_bold1-webfont.svg#conduit_itcbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ------------------------------------ All Fonts --------------------------------------------*/


@font-face {
    font-family: 'conduititcstdextralightitalic';
    src: url('conduititcstd-extralightita-webfont.eot');
    src: url('conduititcstd-extralightita-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-extralightita-webfont.woff') format('woff'),
         url('conduititcstd-extralightita-webfont.ttf') format('truetype'),
         url('conduititcstd-extralightita-webfont.svg#conduititcstdextralightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdextralight';
    src: url('conduititcstd-extralight-webfont.eot');
    src: url('conduititcstd-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-extralight-webfont.woff') format('woff'),
         url('conduititcstd-extralight-webfont.ttf') format('truetype'),
         url('conduititcstd-extralight-webfont.svg#conduititcstdextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdblack';
    src: url('conduititcstd-black-webfont.eot');
    src: url('conduititcstd-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-black-webfont.woff') format('woff'),
         url('conduititcstd-black-webfont.ttf') format('truetype'),
         url('conduititcstd-black-webfont.svg#conduititcstdblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdblackitalic';
    src: url('conduititcstd-blackitalic-webfont.eot');
    src: url('conduititcstd-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-blackitalic-webfont.woff') format('woff'),
         url('conduititcstd-blackitalic-webfont.ttf') format('truetype'),
         url('conduititcstd-blackitalic-webfont.svg#conduititcstdblackitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdextrabolditalic';
    src: url('conduititcstd-extraboldita-webfont.eot');
    src: url('conduititcstd-extraboldita-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-extraboldita-webfont.woff') format('woff'),
         url('conduititcstd-extraboldita-webfont.ttf') format('truetype'),
         url('conduititcstd-extraboldita-webfont.svg#conduititcstdextrabolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstditalic';
    src: url('conduititcstd-italic-webfont.eot');
    src: url('conduititcstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-italic-webfont.woff') format('woff'),
         url('conduititcstd-italic-webfont.ttf') format('truetype'),
         url('conduititcstd-italic-webfont.svg#conduititcstditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdbolditalic';
    src: url('conduititcstd-bolditalic-webfont.eot');
    src: url('conduititcstd-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-bolditalic-webfont.woff') format('woff'),
         url('conduititcstd-bolditalic-webfont.ttf') format('truetype'),
         url('conduititcstd-bolditalic-webfont.svg#conduititcstdbolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstd_lightbold';
    src: url('conduititcstd-bold-webfont.eot');
    src: url('conduititcstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-bold-webfont.woff') format('woff'),
         url('conduititcstd-bold-webfont.ttf') format('truetype'),
         url('conduititcstd-bold-webfont.svg#conduititcstd_lightbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdregular';
    src: url('conduititcstd-webfont.eot');
    src: url('conduititcstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-webfont.woff') format('woff'),
         url('conduititcstd-webfont.ttf') format('truetype'),
         url('conduititcstd-webfont.svg#conduititcstdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdextrabold';
    src: url('conduititcstd-extrabold-webfont.eot');
    src: url('conduititcstd-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-extrabold-webfont.woff') format('woff'),
         url('conduititcstd-extrabold-webfont.ttf') format('truetype'),
         url('conduititcstd-extrabold-webfont.svg#conduititcstdextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdlightitalic';
    src: url('conduititcstd-lightitalic-webfont.eot');
    src: url('conduititcstd-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-lightitalic-webfont.woff') format('woff'),
         url('conduititcstd-lightitalic-webfont.ttf') format('truetype'),
         url('conduititcstd-lightitalic-webfont.svg#conduititcstdlightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdlight';
    src: url('conduititcstd-light-webfont.eot');
    src: url('conduititcstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-light-webfont.woff') format('woff'),
         url('conduititcstd-light-webfont.ttf') format('truetype'),
         url('conduititcstd-light-webfont.svg#conduititcstdlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdmediumitalic';
    src: url('conduititcstd-mediumitalic-webfont.eot');
    src: url('conduititcstd-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-mediumitalic-webfont.woff') format('woff'),
         url('conduititcstd-mediumitalic-webfont.ttf') format('truetype'),
         url('conduititcstd-mediumitalic-webfont.svg#conduititcstdmediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'conduititcstdmedium';
    src: url('conduititcstd-medium-webfont.eot');
    src: url('conduititcstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('conduititcstd-medium-webfont.woff') format('woff'),
         url('conduititcstd-medium-webfont.ttf') format('truetype'),
         url('conduititcstd-medium-webfont.svg#conduititcstdmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ----------------------------------------------Wrapper-------------------------------------*/
div.wrapper{}
.row1{color:#333333; background-color:#e9edf6;}
.row2{ background-color:#fdbc18;}
.row3{ background:url(../images/hexagon_bg.png) top center no-repeat #fdbc18; border-bottom:2px solid #333333 }
.row4{ background-color:#333333;}
.row5 {background:url(../images/printer_bg.jpg) top center no-repeat #333333; border-bottom:4px solid #fdbc18}
.row6 {background:url(../images/3dchallenge-bg.png) top center no-repeat #ffffff; border-bottom:4px solid #333333}
.row7 {background:url(../images/footer-bg.png); }
.row8 { background:url(../images/inner_bg.jpg) top center repeat-y #000; border-bottom:4px solid #fdbc18 }
.row9 { background:#e0e0e0;}
/* ---------------------------------------  Genaral -------------------------------------*/

.page-padding-top { padding-top:50px;}
.center-block { margin:0 auto; display:block;   position:relative;}
.font-light {font-family: 'conduit_itclight' !important;}
.dark-gery { color:#333333;}
.white { color:#ffffff;}
.yellow { color:#fdbc18}
.font-itcbold {font-family: 'conduit_itcbold';}
.br-black { border-right:2px solid #000;}
 
/* -------------------------------------- Main Nav --------------------------------- */
.navbar-default .navbar-nav li a{  font-family: 'conduit_itclight'; color:#333333; font-size:36px; text-transform:uppercase;}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav li.current-menu-item a  { color:#fdbc18; background-color:transparent !important;} 



.main-slider .carousel-control.right, .main-slider .carousel-control.left  { background:none;}
.main-slider .carousel-inner > .item > img, .main-slider .carousel-inner > .item > a > img { margin: 0  auto;}

/* -------------------------------------- Main Containt --------------------------------- */
.main-contain { padding-top:25px; padding-bottom:0px;}
.main-contain h1 {font-family: 'conduit_itcmedium'; font-size:4.2em;  }
.main-contain h2 {font-family: 'conduit_itclight'; font-size:2.5em; line-height:1em}  
.main-contain h3 {font-family: 'conduit_itclight'; font-size:4.2em; }
.main-contain h4 { font-family: 'conduit_itclight'; font-size:5.2em;  }

/* -------------------------- Video Gallery ----------------------------- */
.video-block { padding-top:25px; padding-bottom:35px;  }
.video-listing { padding:35px 0;}
.video-listing ul { margin:0 auto; padding:0; list-style:none; text-align:center; }
.video-listing ul li { /*float:left;*/ display:inline-block; margin-right:30px; margin-bottom:30px;}

/* ------------------------------- Printer block ---------------------*/
.print-block { padding-top:25px; padding-bottom:15px;}
.print-block hr { width:300px; margin: 45px auto;}
.product-listing{ padding:35px 5%;}
.product-listing ul { margin:0 auto; padding:0; list-style:none; text-align:center; }
.product-listing ul li { /*float:left;*/ display:inline-block; margin-right:10px; margin-bottom:10px;}

/* ---------------------------- challenge-block ----------------------*/
.challenge-block {  padding-top:25px; padding-bottom:35px;}
.challenge-block  hr { width:300px; margin: 45px auto; border-color:#333333}
.challenge-block  hr.wd80 { width:70%;}

/* ---------------------------------- Inner page -----------------------*/
.inner-header { padding:15px 0;}


.head-social ul.social-link { margin:35px auto; padding:0; list-style:none; text-align:center;}
.head-social ul.social-link li {  display:inline-block; width:45px; height:45px; background:url(../images/social-icon.png); background-position:0 0 ; background-repeat:no-repeat;}
.head-social ul.social-link li a { text-decoration:none; display:block;}
.head-social ul.social-link li.fb {  display:inline-block; background-position:0px -45px; background-repeat:no-repeat; width:45px; height:45px; cursor:pointer;  }
.head-social ul.social-link li.fb:hover {  background-position:0px 0px; background-repeat:no-repeat;    }

.head-social ul.social-link li.tw {  display:inline-block; background-position:-45px -45px; background-repeat:no-repeat; width:45px; height:45px; cursor:pointer;  }
.head-social ul.social-link li.tw:hover {  background-position:-45px 0px; background-repeat:no-repeat;    }

.head-social ul.social-link li.gm {  display:inline-block; background-position:-90px -45px; background-repeat:no-repeat; width:45px; height:45px; cursor:pointer;  }
.head-social ul.social-link li.gm:hover {  background-position:-90px 0px; background-repeat:no-repeat;    }

.head-social ul.social-link li.in {  display:inline-block; background-position:-135px -45px; background-repeat:no-repeat; width:45px; height:45px; cursor:pointer;  }
.head-social ul.social-link li.in:hover {  background-position:-135px 0px; background-repeat:no-repeat;    }

.inner_top_link {}
.inner_top_link ul{ margin:15px auto; padding:0; list-style:none; text-align:center;}
.inner_top_link ul li{ display:inline-block; margin-right:10px; }
.inner_top_link ul li:last-child { margin-right:0px;}

.newletter { padding-left:25px;}
.newletter .title { font-family: 'conduititcstdextrabold'; font-size:26px; color:#333333;}
.newletter .title_sub { font-family: 'conduititcstdextrabold'; font-size:18px; color:#333333;}

.video-gallery { padding:25px 0;}

.video-detail { padding:35px 0;}
.v-detail-bg {  background:url(../images/video_detail_bg.png) left top no-repeat; }
.v-detail-title { margin-bottom:30px;}
.v-detail-title h2{ font-family: 'conduititcstdextralight'; color:#333333; font-size:30px; margin:0;}
.v-detail-title h3{   font-family: 'conduititcstdregular';color:#333333; font-size:24px; margin:0;	}

.video-box{ position:relative; margin-bottom:35px;}
.video-border { border:10px solid #aeaeae;  }
.v-detail-list {}
.v-detail-list ul { margin:0; padding:0; list-style:none}
.v-detail-list ul li{ font-family: 'conduititcstdregular';color:#333333; display:block; margin-bottom:8px; border-bottom:1px solid #b8b8b8; padding-bottom:5px; font-size:18px }
.v-detail-list {}
/*DL, DT, DD TAGS LIST DATA*/
.v-tags h2 {  font-family: 'conduititcstdregular'; font-weight:bold; font-size:18px; margin:0; text-transform:uppercase;	}
.v-tags dl {   margin-bottom:10px; }
.v-tags dl dt {  color:#333333; font-size:14px;  float:left; font-family: 'conduititcstdregular'; font-weight:normal;  margin-right:10px; padding:2px 5px;  width:150px; }
.v-tags dl dd {  margin:0px 0;  padding:2px 0; font-size:14px; font-family: 'conduititcstdregular'; font-weight:normal;}

.v-comment { padding:25px 0 0 0;}
.v-comment h4.media-heading{  font-family: 'conduititcstdregular'; font-size:16px; margin:0 0 3px 0; font-weight:bold; color:#333333;}
.v-comment h5.media-heading-sub { font-size:16px; font-family: 'conduititcstdregular'; margin:0;  color:#333333}
.v-comment .media-body {font-family: 'conduititcstdregular';  color :#b8b8b8; font-size:14px;}
.v-comment .media { border-top:1px solid #b8b8b8; margin-top:15px; padding-top:15px; margin-bottom:15px;}
.v-comment h3 { font-family: 'conduititcstdregular'; font-size:20px; margin:0 0 3px 0; color:#333333;}



article.post {
margin-bottom: 15px;
border-bottom: 1px solid #b8b8b8;
padding-bottom: 15px;
}


.v-left-listing  h1{  font-family: 'conduititcstdregular'; font-size:18px; margin:0 0 3px 0; border-bottom:1px solid #b8b8b8; color:#333333;}


.v-left-listing .widget {
    margin-bottom: 50px;
    clear: both;
}

.v-left-listing form.searchform div { margin-bottom: 73px; }
.v-left-listing form.searchform label{  font-family: 'conduititcstdregular'; font-size:18px !important; margin:0 0 5px 0; border-bottom:1px solid #b8b8b8; color:#333333; font-weight: normal; text-transform: uppercase;}

.v-left-listing form.searchform input[type=text] {
    float: left;
    width: 167px;
    margin-right: 5px;
}
.v-left-listing form.searchform input[type=submit] {
    float: left;
    padding: 2px 7px;
    height: 33px;
    font-size: 24px;
}

.v-left-listing  ul { margin:15px 0; padding:0; list-style:none;}
.v-left-listing  ul li{ display:block; margin-bottom:15px; border-bottom:1px solid #b8b8b8; padding-bottom:15px;}
.v-left-listing  ul li h2 {  font-family: 'conduititcstdregular'; font-size:16px; color:#333333; margin:0;  }
.v-left-listing  ul li a { text-decoration:none;}
/* --------------------------------------------------------- */
.newletter input.m-wrap { background-attachment: scroll;
 	border:none;
    background-color: #fff;
    background-image: none !important;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-radius: 0;
    box-shadow: none !important;
    color: #333333;
    filter: none !important;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    line-height: 20px;
    outline: 0 none;
    padding: 6px !important;
    vertical-align: top; }
.newletter .m-wrap.medium { width:330px !important;}

.btn {
	background-color: #e5e5e5;
	background-image: none;
	filter: none;
	border: 0;
	padding: 6px 14px; 
	height:50px;
	font-family: 'conduititcstdregular';
	font-size:30px;  	
	color: #333333;
	text-transform:uppercase;
	cursor: pointer;
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	  box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	  border-radius: 0 !important;
	
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	  text-shadow: none;
		  
}
.btn:hover, 
.btn:focus, 
.btn:active,
.btn.active,
.btn[disabled],
.btn.disabled {  
  color: #333333;
  background-color: #d8d8d8 !important;
}

/*  Yellow-btn */
.btn.yellow-btn {
  color: #000;  
  text-shadow: none;	
  background-color: #fcbb17;
}
.btn.yellow-btn:hover, 
.btn.yellow-btn:focus, 
.btn.yellow-btn:active, 
.btn.yellow-btn.active,
.btn.yellow-btn[disabled], 
.btn.yellow-btn.disabled {    
  background-color: #000 !important;
  color: #fcbb17 !important;
}






/* ------------------------------ Footere ------------------------ */

footer { padding-bottom:25px;}
footer .col-md-4 { min-height:250px;}
.main-contain footer h1 { font-size:2.6em; margin:0 0 15px 0;}
footer ul.links { margin:0; padding:0; list-style:none;}
footer ul.links li { display:block; margin:0; padding:0}
footer ul.links li a { font-family: 'conduit_itclight'; color:#333333; font-size:36px; text-transform:uppercase; line-height:normal; text-decoration:none}
footer ul.links li a:hover { color:#ffffff;}
footer .brd-rt { border-right:2px solid #333333;}

footer ul.social-link { margin:35px auto; padding:0; list-style:none; text-align:center;}
footer ul.social-link li {  display:inline-block; width:45px; height:45px; background:url(../images/social-icon.png); background-position:0 0 ; background-repeat:no-repeat;}
footer ul.social-link li a { text-decoration:none; display:block;}
footer ul.social-link li.fb {  display:inline-block; background-position:0px 0px; background-repeat:no-repeat; width:45px; height:45px; cursor:pointer;  }
footer ul.social-link li.fb:hover {  background-position:0px -45px; background-repeat:no-repeat;    }

footer ul.social-link li.tw {  display:inline-block; background-position:-45px 0px; background-repeat:no-repeat; width:45px; height:45px; cursor:pointer;  }
footer ul.social-link li.tw:hover {  background-position:-45px -45px; background-repeat:no-repeat;    }

footer ul.social-link li.gm {  display:inline-block; background-position:-90px 0px; background-repeat:no-repeat; width:45px; height:45px; cursor:pointer;  }
footer ul.social-link li.gm:hover {  background-position:-90px -45px; background-repeat:no-repeat;    }

footer ul.social-link li.in {  display:inline-block; background-position:-135px 0px; background-repeat:no-repeat; width:45px; height:45px; cursor:pointer;  }
footer ul.social-link li.in:hover {  background-position:-135px -45px; background-repeat:no-repeat;    }

footer .form-horizontal .control-label {text-align: left ; font-family: 'conduit_itclight';  font-size:15px; color:#333333}

footer .form-group { margin-bottom:8px;}
/* -------------------------------------- Media  --------------------------------- */

@media(max-width:1024px) { 
	.navbar-default .navbar-nav li a { font-size:30px; }
	.inner_top_link img { width:100px;}
	.newletter .m-wrap.medium { width:280px !important;}

}

@media(max-width:980px) { 
	footer .brd-rt { border-bottom:2px solid #333333; border-right:none; margin:0 0 15px 0;}
	.navbar-default .navbar-nav li a { font-size:26px; padding:10px 8px; }
	.newletter { padding-left:0px;}
	.newletter .m-wrap.medium {   width: 215px !important; }
	
}

@media(max-width:768px) { 
	
	footer .col-sm-offset-6 { margin-left:15px;}
}


@media(max-width:640px) { 
 	.main-contain h1 { font-size:3em}
	.navbar-brand { display:block;}
	.inner_top_link img { width:100%;}
	
	.inner-header .newletter { text-align:center;} 
	.inner-header .newletter .pull-left { float:none !important;}
	.inner-header .br-black { border-right:none; border-bottom:2px solid #000; margin:0 15px;}
}

@media(max-width:480px) { 
	/* .main-contain h1 { font-size:1.8em}*/
	.inner_top_link img { width:120px;}

}

@media(max-width:360px) { 
	/* .main-contain h1 { font-size:1.8em}*/
	.inner_top_link img { width:100px;}
	 
	.newletter .m-wrap.medium { width: 100% !important; }
	.newletter .btn  { width:100%; margin-top:5px;}

}
@media(max-width:320px) { 
	/* .main-contain h1 { font-size:1.8em}*/
	.inner_top_link img { width:85px;}
	

}