@charset "utf-8";
/* 必须的样式 */
.PIC360{display:none;overflow:hidden;}
.PIC360 UL,.PIC360 LI{margin:0; padding:0;}
.PIC360 LI{list-style:none;}

/* 可以修改的样式 */
.PIC360{width:400px; margin:10px auto;border:5px solid #CECECE;}
