@charset "utf-8";
/*body, ul, li {
margin: 0;
padding: 0;
}*/
ul, li {
list-style: none;
}
.menu {
/*width: 535px;*/
height: auto;
/*border: 6px solid #ccc;*/
/*margin: 30px auto 0;*/
overflow: hidden;
}
.menu ul {
/*width: 535px;*/
height: auto;
margin:0px;
padding:0px;
}
.menu ul li img {
display: block;
/*width: 535px;*/
height: auto;
}
