

/*  First Example with big stars */
.rate-ex1-cnt{
	width:auto; height: 40px;
	/*border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;*/
}
.rate-ex1-cnt .rate-btn{
	width: 45px; height:40px;
	float: left;
	background: url('img/rate-btn.png') no-repeat;
	cursor: pointer;
}
.rate-ex1-cnt .rate-btn:hover, .rate-ex1-cnt  .rate-btn-hover, .rate-ex1-cnt  .rate-btn-active{
	background: url('img/rate-btn-hover.png') no-repeat;
}
/* End first Example with big stars */


/*  Second Example with big stars */
.rate-ex2-cnt{
	width:auto; height: 30px;
	/*border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;*/
}
.rate-ex2-cnt .rate-btn{
	width: 30px; height:30px;
	float: left;
	background: url('img/rate-btn2.png') no-repeat;
	cursor: pointer;
}
.rate-ex2-cnt .rate-btn:hover, .rate-ex2-cnt  .rate-btn-hover, .rate-ex2-cnt  .rate-btn-active{
	background: url('img/rate-btn2-hover.png') no-repeat;
}
/* End second Example with big stars */

/*  Third Example with big stars */
.rate-ex3-cnt{
	width:85px; height: 17px;
	border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;
}
.rate-ex3-cnt .rate-btn{
	width: 17px; height:17px;
	float: left;
	background: url('img/rate-btn3.png') no-repeat;
	cursor: pointer;
}
.rate-ex3-cnt .rate-btn:hover, .rate-ex3-cnt  .rate-btn-hover, .rate-ex3-cnt  .rate-btn-active{
	background: url('img/rate-btn3-hover.png') no-repeat;
}
/* End third Example with big stars */


/* rate result */
.rate-result-cnt{
	width: 82px; height: 18px;
	position: relative;
	background-color: #ccc;
	border: #ccc 1px solid;
}
.rate-stars{
	width: 82px; height: 18px;
	background: url('img/rate-stars.png') no-repeat;
	position: absolute;
}
.rate-bg{
	height: 18px;
	background-color: #ffbe10;
	position: absolute;
}

