


.adddiv {
   float:left;
   padding: 5px 0 0;
}
#parentcatname, #parentcatname2 {
     font-weight: normal;
}

.adddiv2 {
   float: right;
}
.adddiv2 input{
     height: 30px;
    line-height: 1.4;
    padding: 5px 8px;
       width: 140px;
}

.adddiv lable, .adddiv2 lable {
     font-weight: bold;
}


#sidetreecontrol, #sidetreecontrol2{
    float: right;
    padding: 10px 0px 0px 0px;
}

.controlcollapse{
    color: #2f973f;
    font-weight: bold;
}
.controlexpand{
    color: #c13e2c;
    font-weight: bold;
}

.treeview {
    clear: both;
     float:left;
    padding: 8px 0 0;
}


.selmain{   
    color:#3078eb !important;
    font-weight: bold;
}
.treeview li a{
font-weight: bold;
color: #666;
}
.treeview li ul li a{
font-weight: bold;
color: #969393;
}
.treeview li ul li ul li a{
font-weight: 600;
color: #646161 !important;
}
.treeview li ul li ul li ul li a{
font-weight: 500;
color: #A8A2A2 !important;
}